* {
    font-family: Arial, Verdana, sans-serif;
    box-sizing: border-box;
}

html * {
    background-color: #CBEBF7;
}

img {
    height: auto;
    width: 500px;
}

ul,
ol {
    line-height: 1.5;
    max-width: 40em;
    max-width: 85ch;
    margin: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: rgb(176, 196, 206);
}

.recipelist .listimg {
    height: auto;
    width: 100px;
}

.ingredients-mainimg {
    margin: 2px;
    padding: 4px;
    display: flex;
}

.ingredients-mainimg div {
    padding: 2px;
    flex: 1;
}