* {
    font-family: Arial, Verdana, sans-serif;
}

img {
    height: auto;
    width: 500px;
}

ul,
ol {
    line-height: 25px;
    max-width: 40em;
    max-width: 85ch;
    
}

a {
    text-decoration: none;
}